@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@100;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .headline-1 {
    @apply text-4xl font-bold text-app-light font-poppins
  }
  .headline-2 {
    @apply text-2xl font-bold text-app-light font-poppins
  }
  .headline-3 {
    @apply text-lg font-bold text-app-light font-poppins
  }
  .stext {
    @apply text-xs font-normal font-poppins text-app-light
  }
  .mtext {
    @apply text-base font-normal font-poppins text-app-light
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.redGradient {
  background: linear-gradient(135deg, #FFD162, #FF99C3);
}
.greenGradient {
  background: linear-gradient(135deg, #3EF3E8, #F5FFA0);
}
.blueGradient {
  background: linear-gradient(135deg, #3EF3E8, #3EE4E8, #3B85E6, #3A4AE4);
}
